@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Monoton&family=Niramit:wght@300&family=Wix+Madefor+Display&display=swap');
$font1: 'Homemade Apple', cursive;
$font2: 'Monoton', cursive;
$font3: 'Niramit', sans-serif;
$font4: 'Wix Madefor Display', sans-serif;
$maincolor: #efeee8;
